body{
    color:#FAF8F6;
    /* font-family:'Comfortaa', sans-serif; */
    font-family:'Fuzzy Bubbles', sans-serif;
    
    background-color: #8686AF;

    margin-right: 2vw;
    margin-left: 2vw;
}


/* --------------- site colors */

.portfolio-indigo{
    color:#8686AF;
}

.portfolio-white{
    color:#FAF8F6;
}

.portfolio-cyan{
    color:#A4D8D8;
}

a:hover{
    color:#A4D8D8 !important;
}

li:hover{
    color:#A4D8D8 !important;
}


/* --------------- site fonts */

.basic-font{
    font-family:'Comfortaa', sans-serif;
}

.logo-font{
    font-family:'Fuzzy Bubbles', sans-serif;
}


/* --------------- fixed header */

.header-lists{
    padding-left:0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
}

.header-lists i{
    /* color: black; */
}

.header-lists a{
    color: #FAF8F6;
    text-transform: uppercase;
    text-decoration: none;
}

#header-links-container{
    border-top: 4px solid #A4D8D8;
    border-right: 4px solid #A4D8D8;
    /* border-radius: 4px; */
}


/* --------------- base template */

#content-block{
    min-height: 94vh;
}

.navbar{
    background-color: #8686AF;
    min-height: 8vh;
}


/* --------------- home page */

#logo-img-container{
    /* border-radius: 4px; */
    /* border: 2px solid red; */
    /* overflow: hidden; */
}

#logo-img{
    border:4px solid #A4D8D8;
    border-radius: 50%;
    width:80%;
    height:80%;
}

.virtically-centralised{
    margin:auto;
}

.container{
    max-width: 100%;
    min-height: inherit;
}

.container-right-border{
    border-right: 4px solid #A4D8D8;
}

