<div class="row w-100 mt-2 mx-0">

    <!-- LinkedIn, Github, Email icons -->
    <div class="col-4 p-2">
        <ul class="header-lists fs-2">
            <li>
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
            </li>
            <li>
                <a href=""><i class="fa-brands fa-github"></i></a>
            </li>
            <li>
                <a href=""><i class="fa-solid fa-envelope"></i></a>
            </li>
        </ul>
    </div>

    <!-- projects, about, contact page links (top and right border) -->
    <div id="header-links-container" class="col-8 p-2">
        <ul class="header-lists fs-3 fw-bolder">
            <li>
                <a href=""><i class="fa-solid fa-download"></i> CV</a>
            </li>
            <li>
                <a href="">Projects</a>
            </li>
            <li>
                <a href="">Contact</a>
            </li>
        </ul>
    </div>

</div>
